---
import DL from "../components/dl.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section>
    <h2>Epic Tricked Release Downloader</h2>
    <div id="list">
      <DL client:idle />
    </div>
  </section>
</Layout>
