---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>👋 Hi!, I'm Tricked</h1>
      <p>
        Welcome to my blog site! My name is Tricked and I am a software
        developer from the Netherlands.
      </p>
      <p>
        Here, you can find my latest blog posts where I share updates on my
        work, discuss the latest industry trends, and share tips and insights on
        programming and technology. Thank you for visiting!
      </p>
      <div class="text-center">
        <a target="_blank" href="/sponsor">
          <img src="/metrics" alt="Cool metrics lol" />
        </a>
      </div>
    </main>
    <Footer />
  </body>
</html>
