---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import tech from "../../public/tech.json";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>👋 Hi!, I'm Tricked</h1>
      <p>
        Welcome to my blog site! My name is Tricked and I am a software
        developer from the Netherlands.
      </p>
      <p>
        Here, you can find my latest blog posts where I share updates on my
        work, discuss the latest industry trends, and share tips and insights on
        programming and technology. Thank you for visiting!
      </p>
      <p
        class="text-sm text-transparent bg-clip-text bg-gradient-to-tr from-primary to-secondary"
      >
        {
          Object.keys(tech)
            .flatMap((x) => [<span>{x}</span>, ", "])
            .slice(0, -1)
        }
      </p>
      <div class="text-center">
        <a target="_blank" href="/sponsor">
          <img src="/metrics" alt="Cool metrics lol" />
        </a>
      </div>
      <img
        src="https://music.tricked.dev/.svg"
        alt="Cool metrics lol"
        loading="lazy"
        decoding="async"
      />
    </main>
    <Footer />
  </body>
</html>
