---
import tech from "../../public/tech.json";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>👋 Hi!, I'm Tricked</h1><p>
    Welcome to my blog site! My name is Tricked and I am a software developer
    from the Netherlands.
  </p>
  <p>
    Here, you can find my latest blog posts where I share updates on my work,
    discuss the latest industry trends, and share tips and insights on
    programming and technology. Thank you for visiting!
  </p>
  <p
    class="text-sm text-transparent bg-clip-text bg-gradient-to-tr from-primary to-secondary"
  >
    {
      Object.keys(tech)
        .flatMap((x) => [<span>{x}</span>, ", "])
        .slice(0, -1)
    }
  </p>
  <div class="text-center">
    <a target="_blank" href="/sponsor">
      <img src="/metrics" alt="Cool metrics lol" />
    </a>
  </div>
  <div class="text-center">
    <img
      id="music"
      src="https://music.tricked.dev/.svg"
      loading="lazy"
      decoding="async"
      onerror="this.style.display='none'"
      alt="currently playing music!"
    />
  </div>
  <script>
    const image = document.getElementById("music") as HTMLImageElement;
    // prevent caching and shit
    if (image) image.src = image.src + "?t=" + new Date().getTime();
  </script>
</Layout>
