---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>👋 Hi!, I'm Tricked</h1>
      <p>
        Welcome to my blog site! My name is Tricked and I am a software
        developer from the Netherlands.
      </p>
      <p>
        Here, you can find my latest blog posts where I share updates on my
        work, discuss the latest industry trends, and share tips and insights on
        programming and technology. Thank you for visiting!
      </p>
      <div class="text-center">
        <a target="_blank" href="/sponsor">
          <img src="/metrics" alt="Cool metrics lol" />
        </a>
      </div>
      <div class="text-center">
        <span>Currently playing music</span>
        <img
          loading="lazy"
          id="currently-playing"
          src="https://music.tricked.dev/.svg"
          alt="Currently playing music"
        />
        <script async>
          const img = document.getElementById("currently-playing");
          img.src = "https://music.tricked.dev/.svg?t=" + new Date().getTime();
          setInterval(() => {
            const rect = img.getBoundingClientRect();
            const visible =
              rect.top >= 0 &&
              rect.left >= 0 &&
              rect.bottom <=
                (window.innerHeight || document.documentElement.clientHeight) &&
              rect.right <=
                (window.innerWidth || document.documentElement.clientWidth);
            if (!visible) return;
            console.log("called!");
            img.src =
              "https://music.tricked.dev/.svg?t=" + new Date().getTime();
          }, 5000);
        </script>
      </div>
    </main>
    <Footer />
  </body>
</html>
