---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Tips from "../components/tips.svelte";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import PocketBase from "pocketbase";

const pb = new PocketBase("https://pb.tricked.dev");
const resultList = await pb.collection("tips").getList(1, 500, {});
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${SITE_TITLE}`} description={SITE_DESCRIPTION} />
    <style is:global>
      body {
        --width: 80rem;
      }
    </style>
  </head>
  <body class="">
    <Header title={`${SITE_TITLE}`} />
    <main>
      <section>
        <h2>Epic Tricked tips</h2>
        <div id="list">
          <Tips client:idle tips={resultList.items} />
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
