---
import Tips from "../components/tips.svelte";
import PocketBase from "pocketbase";
import Layout from "../layouts/Layout.astro";
import { POCKETBASE_URL } from "../config";

const pb = new PocketBase(POCKETBASE_URL);
const resultList = await pb.collection("tips").getList(1, 500, {});
---

<Layout>
  <section>
    <h2>Epic Tricked tips</h2>
    <div id="list">
      <Tips client:idle tips={resultList.items} />
    </div>
  </section>
</Layout>
