---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ImagePreview from "../components/ImagePreview.svelte";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />

    <slot name="head" />
  </head>
  <body>
    <Header title={`${SITE_TITLE}`} />
    <main>
      <slot />
    </main>
    <Footer />
    <ImagePreview client:load />
  </body>
</html>
